<div class="form-row layout2 padding-bottom-1 grid-3-cols">
    <div class="grid-3-cols__col">
        <input class="input-text1" role="chart-label-input" placeholder="Insert Label" value="Label" type="text" data-bind-input="onDataChange"/>
    </div>
    <div class="grid-3-cols__col">
        <input class="input-slider1 padding-left-1" data-series="first" role="chart-value-input" type="range" min="0" max="100" value="20" step="20" data-bind-input="onDataChange"/>
    </div>
    <div class="grid-3-cols__col">
        <input class="input-slider1 padding-left-1" data-series="second" role="chart-value-input" type="range" min="0" max="100" value="20" step="20" data-bind-input="onDataChange"/>
    </div>
</div>