svg {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

path[role="chart-base"] {
    fill: transparent;
    stroke: #000000;
}

path[role="chart-values"] {
    fill-opacity: 0.2;
    stroke-width: 10;
    stroke-opacity: 1;
    stroke-linejoin: round;
}