{
    "presets": [
		[
			"env", {
				"targets": {
					"browsers": [
						"last 2 versions"
					]
				}
			}
		]
	],
    "plugins": [
		"transform-custom-element-classes",
		"transform-object-rest-spread"
    ]
}