svg {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

path[role="chart-base"] {
    fill: transparent;
    stroke: #000000;
}

text.label {
    font-size: 25px;
}

text.legend {
    font-size: 40px;
}

[semi-trasparent] {
    fill-opacity: 0.2;
    stroke-width: 10;
    stroke-opacity: 1;
    stroke-linejoin: round;
}