<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 842 595">
	<style type="text/css">
		<![CDATA[
			.st0{fill:#134F5C;}
			.st1{fill:#EAD1DC;}
			.st2{fill:#B7B7B7;}
			.st3{font-size:7px;}
			.st4{fill:#274E13;}
			.st5{font-family:'Arial-BoldMT';}
			.st6{clip-path:url(#SVGID_2_);}
			.st7{clip-path:url(#SVGID_4_);}
			.st8{clip-path:url(#SVGID_6_);}
			.st9{clip-path:url(#SVGID_8_);}
			.st10{fill:none;stroke:#000000;stroke-width:0.5954;stroke-miterlimit:11.4737;}
			.st11{fill:#FCE5CD;}
			.st12{fill:#FFF2CC;}
			.st13{fill:#FFFFFF;}
			.st14{fill:none;}
			.st15{fill:#660000;}
			.st16{fill:#CC0000;}
			.st17{fill:#351C75;}
			.st18{font-family:'ArialMT';}
			.st19{fill:#D9EAD3;}
			.st20{fill:#0B5394;}
			.st21{fill:#434343;}
			.draggable{font-family:'Arial-BoldMT';}
		]]>
		</style>
	<rect x="691.9" y="54" class="st13" width="60.1" height="12.5" />
	<rect x="90.6" y="316.6" class="st13" width="240.5" height="12.5" />
	<rect x="631.8" y="316.6" class="st13" width="120.3" height="12.5" />
	<rect x="691.9" y="441.6" class="st13" width="60.1" height="12.5" />
	<rect x="90" y="53.4" class="st17" width="241.1" height="13.1" />
	<rect x="330.5" y="53.4" class="st20" width="181" height="13.1" />
	<rect x="510.9" y="53.4" class="st0" width="120.9" height="13.1" />
	<rect x="631.2" y="53.4" class="st4" width="60.7" height="13.1" />
	<rect x="90" y="65.9" class="st12" width="662" height="125.6" />
	<rect x="90" y="190.9" class="st15" width="241.1" height="13.1" />
	<rect x="330.5" y="190.9" class="st21" width="181" height="13.1" />
	<rect x="510.9" y="190.9" class="st16" width="181" height="13.1" />
	<rect x="691.3" y="190.9" class="st12" width="60.7" height="13.1" />
	<rect x="90" y="203.4" class="st12" width="241.1" height="113.1" />
	<rect x="330.5" y="203.4" class="st2" width="181" height="113.1" />
	<rect x="510.9" y="203.4" class="st11" width="181" height="113.1" />
	<rect x="691.3" y="203.4" class="st12" width="60.7" height="113.1" />
	<rect x="330.5" y="316" class="st17" width="60.7" height="13.1" />
	<rect x="390.6" y="316" class="st20" width="60.7" height="13.1" />
	<rect x="450.8" y="316" class="st0" width="60.7" height="13.1" />
	<rect x="510.9" y="316" class="st4" width="60.7" height="13.1" />
	<rect x="571" y="316" class="st15" width="60.7" height="13.1" />
	<rect x="90" y="328.5" class="st19" width="662" height="113.1" />
	<rect x="90" y="441" class="st17" width="241.1" height="13.1" />
	<rect x="330.5" y="441" class="st20" width="181" height="13.1" />
	<rect x="510.9" y="441" class="st0" width="120.9" height="13.1" />
	<rect x="631.2" y="441" class="st4" width="60.7" height="13.1" />
	<rect x="90" y="453.5" class="st1" width="662" height="88.1" />
	<path class="st10" d="M691.6,203.4v338.2 M90,541.3h601.9 M90,453.8h601.9 M90,441.3h601.9 M90,328.8h601.9 M90,316.3h601.9
	 M691.6,53.4v138.1 M90,66.2h601.9 M90,53.7h601.9 M631.5,441v100.6 M631.5,53.4v138.1 M571.3,316v13.1 M511.2,441v100.6
	 M511.2,53.4v275.6 M330.8,53.4v488.2 M90,191.2h241.1 M90.3,441v13.1 M90.3,53.4v275.6" />
	<text transform="matrix(1 0 0 1 92.3638 63.0762)" class="st13 st18 st3">MONTHLY</text>
	<text transform="matrix(1 0 0 1 332.8872 63.0762)" class="st13 st18 st3">QUARTERLY</text>
	<text transform="matrix(1 0 0 1 513.2793 63.0762)" class="st13 st18 st3">HALF-YEARLY</text>
	<text transform="matrix(1 0 0 1 633.541 63.0762)" class="st13 st18 st3">YEARLY</text>
	<rect x="89.4" y="52.8" class="st14" width="663.2" height="489.4" />
	<g>
		<defs>
			<rect id="SVGID_1_" x="89.4" y="52.8" width="663.2" height="489.4" />
		</defs>
		<clipPath id="SVGID_2_">
			<use xlink:href="#SVGID_1_" style="overflow:visible;" />
		</clipPath>
		<g class="st6">
			<text transform="matrix(0 1 -1 0 718.5322 173.0713)" class="st5 st3">ACTIVITIES</text>
		</g>
	</g>
	<text transform="matrix(1 0 0 1 92.3638 200.603)" class="st13 st18 st3">ATYPICAL FREQUENCY / SPECIAL CASES</text>
	<text transform="matrix(1 0 0 1 332.8872 200.603)" class="st13 st18 st3">DOH!... </text>
	<text transform="matrix(1 0 0 1 513.2793 200.603)" class="st13 st18 st3">SHORTCOMINGS / NEEDS</text>
	<text transform="matrix(1 0 0 1 92.3638 325.6279)" class="st5 st3">CLUSTER</text>
	<text transform="matrix(1 0 0 1 244.438 325.6279)" class="st5 st3">NECESSARY EFFORT</text>
	<text transform="matrix(1 0 0 1 332.8872 325.6279)" class="st13 st18 st3">MONTHLY</text>
	<text transform="matrix(1 0 0 1 393.0181 325.6279)" class="st13 st18 st3">QUARTERLY</text>
	<text transform="matrix(1 0 0 1 453.1484 325.6279)" class="st13 st18 st3">HALF-YEARLY</text>
	<text transform="matrix(1 0 0 1 513.2793 325.6279)" class="st13 st18 st3">YEARLY</text>
	<text transform="matrix(1 0 0 1 573.4102 325.6279)" class="st13 st18 st3">ATIPICAL</text>
	<rect x="89.4" y="52.8" class="st14" width="663.2" height="489.4" />
	<g>
		<defs>
			<rect id="SVGID_3_" x="89.4" y="52.8" width="663.2" height="489.4" />
		</defs>
		<clipPath id="SVGID_4_">
			<use xlink:href="#SVGID_3_" style="overflow:visible;" />
		</clipPath>
		<g class="st7">
			<text transform="matrix(0 1 -1 0 718.5312 365.9668)" class="st5 st3">CLUSTER</text>
		</g>
	</g>
	<g>
		<defs>
			<rect id="SVGID_5_" x="89.4" y="52.8" width="663.2" height="489.4" />
		</defs>
		<clipPath id="SVGID_6_">
			<use xlink:href="#SVGID_5_" style="overflow:visible;" />
		</clipPath>
		<g class="st8">
			<text transform="matrix(1 0 0 1 92.3638 450.6523)" class="st13 st18 st3">MONTHLY</text>
		</g>
		<g class="st8">
			<text transform="matrix(1 0 0 1 332.8872 450.6523)" class="st13 st18 st3">QUARTERLY</text>
		</g>
		<g class="st8">
			<text transform="matrix(1 0 0 1 513.2793 450.6523)" class="st13 st18 st3">HALF-YEARLY</text>
		</g>
		<g class="st8">
			<text transform="matrix(1 0 0 1 633.541 450.6523)" class="st13 st18 st3">YEARLY</text>
		</g>
	</g>
	<g>
		<defs>
			<rect id="SVGID_7_" x="89.4" y="52.8" width="663.2" height="489.4" />
		</defs>
		<clipPath id="SVGID_8_">
			<use xlink:href="#SVGID_7_" style="overflow:visible;" />
		</clipPath>
		<g class="st9">
			<text transform="matrix(0 1 -1 0 718.5312 476.7021)" class="st5 st3">METRICS</text>
		</g>
	</g>
</svg>