app-capacity-canvas {
    transition: all .2s ease-in-out;
    text-align: center;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    svg {
        margin: auto;
        overflow: hidden;
    }
    z-index: 1;
}

.form {
    border: 2px solid black;
    height: 50px; 
    display: flex; 
    z-index: 100; 
    position: fixed; 
    top: 50px; 
    left: 0;
}

.draggable {
    cursor: move;
}

app-legend {
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    background-color: white;
    border: solid 1px black;
    z-index: 10;
    overflow: hidden;
    svg {
        margin: auto;
        overflow: hidden;
    }
    .marker{
        position: absolute;
        background-color: blue;
        opacity: 0.5;
    }
}