svg {
    display: inline-block;
    position: relative;
    width: 100%;
    min-width: 320px;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

[data-draggable] {
    opacity: 0.1;
}