app-chart svg {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

path[role="chart-base"] {
    fill: transparent;
    stroke: #000000;
}

path[role="chart-values"] {
    fill: red;
    stroke-opacity: 0;
}

.container {
    display: flex;
}

.container .form {
    flex: 1;
}

.container .chart {
    flex: 1;
}