.container {
    display: flex;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.container .form {
    flex: 1;
}

.container .chart {
    flex: 1;
}

.form-row {
    display: flex;
    padding: 5px 5px;
}

.form-row input{
    margin: 5px 5px;    
    flex: 1;
}